body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Add some space between the elements */
    margin: 20px 0; /* Add some margin for spacing */
}

#colorPalette {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Add some space between the elements */
    margin: 20px 0; /* Add some margin for spacing */
}

.colorBtn {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.stripesBtn {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-image: url('/src/assets/css-pattern-by-magicpattern.png'); /* Adjust the path to your pattern image */
    background-size: cover;
}

#mapContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Adjust width as needed */
    height: 1200px; /* Increase the height */
}

svg:active {
    cursor: grabbing;
}

.zoom-controls {
    position: fixed;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.zoom-controls button {
    margin: 5px 0;
    padding: 5px 5px;
    border: none;
    border-radius: 3px;
    background-color: #a9a7a7b7; /* Gray color */
    color: white;
    cursor: pointer;
    width: 30px; /* Make buttons square */
    height: 30px; /* Make buttons square */
    font-size: 15px;
}

/* Media queries for common screen sizes */
@media (max-width: 1200px) {
    #mapContainer {
        width: 90%;
    }
}

@media (max-width: 992px) {
    #mapContainer {
        width: 95%;
    }
}

@media (max-width: 768px) {
    #mapContainer {
        width: 100%;
    }

    button {
        padding: 8px 16px;
        margin: 4px;
    }

}

@media (max-width: 576px) {
    #mapContainer {
        width: 100%;
    }

    button {
        padding: 6px 12px;
        margin: 3px;
    }

}